@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1><u class="u">Club de football Avignonnais</u></h1>
    <p class="lead">Jeune club de football avignonais pour tous ages</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nos équipes de foot :</h2>
        <p>
            Vous pourrez voir ici les niveau différents pour accéder à une équipe qui vous correspond.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44385/Equipes">Aller vers les équipes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prochains entrainements :</h2>
        <p>Afin de voir les prochains entrainements nous vous laissons prendre connaissance en tant réelle ici.</p>
        <p><a class="btn btn-default" href="https://localhost:44385/Entrainements">Prochain entrainement &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prochains matchs :</h2>
        <p>Afin de voir les prochains entrainements nous vous laissons prendre connaissance en tant réelle ici.</p>
        <p><a class="btn btn-default" href="https://localhost:44385/Matches">Prochain match &raquo;</a></p>
    </div>
</div>